<%= render "layouts/company_logo" %>
<div class="page">
  <% if @products.any? %>
    <% if @reviews %>
      <div class="most_reviews">
        <h1>Featured Product</h1>
        <h5> ☞ <%= link_to @popular.name, product_path(@popular) %> ☜ </h5>
      </div>
    <% else %>
      <p>Be the first to review a product!</p>
    <% end %>

<div class="categorie">
  <h1>New Products</h1>
    <ul>
      <% @top.each do |x| %>
      <li><%= link_to x.name, product_path(x) %></li>
      <% end %>
      <% else %>
      <p>There are no products yet.</p>
      <% end %>
    </ul>
</div>
  <div class="made_in_america">
    <h1> Made in America 🇺🇸</h1>
    <% if @usa.any? %>
      <ul>
      <% @usa.each do |x| %>
        <li><%= link_to x.name, product_path(x) %></li>
      <% end %>
      </ul>
    <% else %>
        <p>There are no products made in the US.</p>
    <% end %>
  </div>

  <div class="categorie">
    <h1>All Products</h1>
    <ul>
      <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  </div>
  <div class="add_product">
    <p><%= link_to "New Product", new_product_path %></p>
  </div>
</div>

<%= render "layouts/company_info" %>
