<%= render "layouts/company_logo" %>
<h1><%= @product.name %></h1>
<div class="product_image">
  <%= image_tag href = 'https://picsum.photos/seed/picsum/200' %>
</div>
<div class="reviews">
  <% if @product.reviews %>
    <% @product.reviews.each do |review| %>
      <ul>
        <li>Written by: <%= review.author %></li>
        <ul>
          <li> Rating: <%= review.rating %></li>
          <p><%= review.content_body %></p>
        </ul>
      </ul>
    <% end %>
  <% end%>
</div>

<%= render "layouts/company_info" %>
